<html>
   <head>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
   </head>
   <body>

     <div class = 'right'>
     <div class = 'top-pane'>
        <h1>Restaurants</h1> 
     </div>
     	<a href='/login'>Login</a>
     </div>

     <div class = 'container'>
      <div class = 'left-pane'>
         {% for restaurant in restaurants %}
           <div>
             <!--
              <span>
                 <p>{{restaurant.name}}</p>
               </span>
             -->
             <span>
              <p><a href='{{url_for('restaurantMenu',restaurant_id = restaurant.id)}}' >{{restaurant.name}}</a></p>
            </span>
           </div>
         {% endfor %}
        </div>

        <div class='right-pane' id='right'>

          {% if not error in [rest.name] %}
            <div>
                <h2  class = 'header2'>{{ rest.name }}</h2>
        	  </div>
            <p class='left'><a href='{{url_for('newMenuItem',restaurant_id = rest.id)}}' >Add New Menu Item</a></p>
            <table style='width:100%'>
              <tr>
                <th><p class='name'>Menu Item</p></th>
                <th><p class='price'>Price</p></th>
                <th><p class = 'editdeletepane'>Edit</p></th>
                <th><p class = 'editdeletepane'>Delete</p></th>
              </tr>
              {% for i in items %}
                <tr>
                  <td width='700'><p class='name'>{{i.name}}</p></td>
                  <td><span><p class='price'>{{i.price}}</p></span></td>
                  <td><p class = 'editdeletepane'><a href='{{url_for('editMenuItem',restaurant_id = rest.id, menu_id=i.id)}}'>Edit</a></p></td>
                  <td><p class = 'editdeletepane'><a href='{{url_for('deleteMenuItem', restaurant_id = rest.id, menu_id=i.id)}}'>Delete</a></p></td>
                </tr>
                <tr>
                  <td width='700'><div><p  class='description'>{{i.description}}</p></div></td>
                </tr>
              {% endfor %}
            </table>

          {% else %}
            <div style="margin-top: 100px;">
              <p>Please select a restaurant</p>
            </div>
          {% endif %}

        </div>
      </div>
   </body>
</html>
